.App {
 text-align: center;
}
/* .body{
background-color: rgb(42, 54, 77);
} */
nav{
  display: flex;
  justify-content: space-evenly;
}
form{
  display:inline-block;
  margin: 10px;
  padding: 10px;
}
form div{
  background-color:rgb(244, 240, 240);
  padding: 10px;
  }
.login{
  border-radius: 5px;
  border: 2px solid whitesmoke;
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: medium;
  color: rgb(11, 11, 12);
} 
.profilepic{
  width: 150px;
  height: 150px;
  border: 2px solid rgb(147, 139, 139);
  background-color: rgb(110, 125, 141);
}
.password{
  width: 70px;
  border-color: rgb(152, 152, 152);
  background-color: rgb(186, 186, 188);
}
select{
  border: 2px solid black;
  width: 200px;
  height: 30px;
  font-size: 1rem;
}
button{
  background-color: rgb(26, 122, 247);
  color: white;
  border: 0px solid rgb(26, 122, 247);
  margin-right: 100px;
  padding: 8px;
  /* margin-top: 10px; */
  font-size: 1rem;
}
.tasknav{
  font-size: 1.5rem;
 }
 .rank{
  font-size: 1.5rem;
  color: white;
  font-family:sans-serif;
  padding:9px;
 }
 .rank:hover{
  /* font-size: 1.5rem; */
  /* padding:4px; */
  color:rgb(50, 50, 50);
  background-color: white;
  /* border: 2px solid grey;
  border-radius: 4px; */
 }
.ranknav{
  border-radius: 10px;
  margin-top:30px;
  background-color: rgb(109, 107, 107);
}
p{
  margin-right: 130px;
}
.pulsediv{
  background-color:rgb(42,54,66);
  /* text-align: left; */
}
.pulsebrn{
  height: 50px;
  display: flex; 
  justify-content:baseline;
  align-items:initial;
}
.acc{
  width: 200px;
  height: 40px;
  background-color: rgb(201, 200, 200); 
}
.forgot{
background-color: rgb(233, 225, 216);
margin-left: 400px;
text-align: center;
width: 450px;
}
h1{
  color: rgb(8, 99, 8);
}

.Table{
    border-collapse: collapse;
    height: 65px;
 
}
.two{
   border-collapse: collapse;
   background-color: pink;
   border: 1px solid rgb(125, 123, 123);
   height: 45px;
   text-align: center;
}
.table,th, td{
  border: 0.5px solid rgb(135, 133, 133);
  border-collapse: collapse;
}
.search{
  margin-left: 900px;
}

.navBar{
  font-size: 1.2rem;
  height:50px;
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.topic{
  display: inline-block;
  margin: 60px;
  border:1px  solid black;
  width:400px;
  height:200px;
  font-size: 1.5rem;
  text-align: center;
}
.buttonDiv{
  display: inline-block;
  margin: 15px;
  font-size: 1.2rem;
}

.email{
  width: 200px;
}

.user1{
  border-collapse: collapse;
  width: 1200px;
}
.manageusers{
  background-color: rgb(18, 151, 203);
  color: white;
  width: 1200px;
}
.manage{
  background-color: rgb(5, 148, 204);
  color: white;
  border: 0.5px solid  rgb(26, 122, 247);
}
.images{
  width: 200px;
  height: 200px;
}
.edit{
  width: 70px;
}
.delete{
  width: 70px;
}
.role{
  width: 100px;
}
.approve{
  width: 70px;
}
.surname{
  width: 150px;
}
.firstname{
  width: 100px;
  /* color: rgb(18, 152, 205); */
}

.msgtr{
  border-collapse: collapse;
  border: 0.5px solid rgb(125, 123, 123);
  width: 60px;
  height: 30px;
  
}
.msgtable{
  border: 0.5px solid rgb(135, 133, 133);
  border-collapse: collapse;
   width: 95%;
 margin: 2%;
 
 
 }
 .msgth{
  background-color: rgb(26, 122, 247);
  text-align: center;

}

.msgbutton{
  display: flex;
  flex-direction:row;
  justify-content: left;
  background-color: rgb(26, 122, 247);
  color: white;
  border: 0px solid rgb(26, 122, 247);
}

.mtable{
  border: 0.5px solid  rgb(26, 122, 247);
  border-collapse: collapse;
   width: 90%;
   }

   .pulse{
    font-family:sans-serif;
    color:white;
   }
   .b{
    color:rgb(224,59,43);
   }
   .r{
    color:rgb(162,161,166);
   }.n{

    color:rgb(224,59,43);
    font-family: monospace;
    font-size: 2.6rem;
   }
   .msgdiv{
    margin-left: 1%;
   }




